*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

resultFormats

# Claude files
.claude.md
.claude/
.clauderc
.claude.json

# locals
*.local.js
*.local.cjs
*.local.ts
*.local.json
*.local.md
local
